@import url('https://fonts.googleapis.com/css?family=Podkova|Julius+Sans+One|Lato');

body {
    margin: 0;
    padding: 0;
    color: #6d6d6d;
    cursor: default;
    font-family: 'Lato', sans-serif;
}

h1 {
    margin: 0;
    font-size: 2.3em;
}

h2 {
    margin: 0;
    font-size: 1.2em;
    padding: 5px;
}

h3 {
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    margin: 0
}

h5 {
    font-size: 1rem;
}

.section {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.home {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.home--img {
    display: flex;
    width: 100%;
    padding: 0;
    order: 1;
    background: url('../img/logo.jpg');
    background-size: cover;
    background-position-x: 67%;
    background-position-y: 73%;
    min-height: 100vh;
    flex: 0.9;
}

.home--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    position: relative;
    flex: 1;
    font-family: 'Lato', serif;
    padding: 20px;
}

.background--logo {
    height: 70vh;
    width: 40vw;
    min-width: 300px;
    position: absolute;
    z-index: -1;
    bottom: 7%;
    right: -20%;
    transform: rotate(15deg);
    border: 10px solid #f5f5f5;
}

.name--header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    margin-bottom: 50px;
    position: absolute;
    top: 35%;
}

.menu--item {
    font-size: 18px;
    padding: 10px;
    transition: all 300ms;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(109, 109, 109, 0.2);
}

.menu--item:hover {
    cursor: pointer;
    color: #000;
}

.navbar {
    font-family: 'Julius Sans One', sans-serif;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 100%;
    padding: 5% 5% 0;
    z-index: 99999;
}

.btn {
    font-family: 'Lato', serif;
    background-color: #212121;
    color: #fff;
    padding: 10px 30px;
    min-height: 35px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    margin: 40px;
    transition: all 300ms;
}

.btn:hover {
    cursor: pointer;
    background-color: #323232;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.offer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}

.offer--tile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5% 2%;
    text-align: center;
    font-family: 'Podkova', serif;
}

.offer--img {
    height: 150px;
    width: 200px;
    margin: 10px;
}

.header {
    font-family: 'Julius Sans One', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    width: 90%;
    max-width: 1100px;
}

.line-left {
    transform: scale(-1, 1);
}

.section--title {
    width: 150px;
    border: 2px #6d6d6d solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.portfolio {
    font-family: 'Julius Sans One', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 10px 20px;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    margin: 0 10px;
}

.carousel-inner .carousel-item .d-block .w-100 {
    max-height: 70vh;
}

.carousel-control-next-icon {
    background-image: url('../img/arrow-dark.png');
    transform: rotate(90deg);
    width: 20px;
    height: 20px;
}

.carousel-control-prev-icon {
    background-image: url('../img/arrow-dark.png');
    transform: rotate(-90deg);
    width: 20px;
    height: 20px;
}

.carousel {
    margin: 3% 8%;
}

.carousel-control-next {
    width: auto;
    margin: 0 1%;
}

.carousel-control-prev {
    width: auto;
    margin: 0 1%;
}

.contact {
    min-height: 100vh;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: no-repeat center url('../img/contact.jpg');
    background-size: cover;
}

.contact:before {
    content: "";
    min-height: 100vh;
    padding: 40px;

    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
}

.contact--content {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 0;
}

.btn-white {
    font-family: 'Julius Sans One', sans-serif;
    background-color: transparent;
    border: 1px rgba(255, 255, 255, 0.8) solid;
    width: 200px;
    height: 50px;
    padding: 5px;
    margin: 20px;
    font-weight: 800;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
}

.btn-white:hover {
    color: #fff;
    background-color: rgba(48, 52, 55, 0.2);
    border: 1px #fff solid;
}

.btn-form {
    background-color: transparent;
    border: 1px solid #c8c8c8;
    color: #808080;
    width: 100px;
    padding: 2px;
    font-size: 18px;
    margin: 20px;
    font-weight: 500;
    border-radius: 3px;
    transition: all 300ms;
    font-family: 'Podkova', serif;
}

.btn-form:hover {
    color: #212121;
    cursor: pointer;
    border: 1px #858585 solid;
}

.contact--form {
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 500px;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.8), 0 -20px 60px 0 rgba(0, 0, 0, 0.8);
    width: 80%;
    animation: launch 300ms ease-in-out;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0.3rem;
    outline: 0;
    z-index: 1;
}

.contact--form__input {
    font-family: 'Podkova', serif;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e9ecef;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 5px;
    width: 100%;
    outline: none;
    overflow: hidden;
}

textarea {
    min-height: 12vh;
    resize: none;
}

.hidden {
    display: none;
}

.close {
    align-self: flex-end;
    margin-top: -5px;
    cursor: pointer;
}

.modal-background {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
}

@keyframes launch {
    0% {
        opacity: 0;
        transform: translateY(0px) scale(0.6)
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1)
    }
}

.footer {
    font-family: 'Podkova', serif;
    color: #fff;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin: 5px;
}

.onepage-pagination {
    display: none;
}

@media screen and (min-width: 425px) {
    .offer--tile {
        max-width: 400px;
    }

    .carousel-control-next {
        width: auto;
        margin: 0;
    }

    .carousel-control-prev {
        width: auto;
        margin: 0;
    }

    .carousel-control-next-icon {
        width: 30px;
        height: 30px;
    }

    .carousel-control-prev-icon {
        width: 30px;
        height: 30px;
    }

    .background--logo {
        top: 30%;
    }

    .name--header {
        top: 40%;
    }
}

@media screen and (min-width: 768px) {

    .home {
        flex-direction: row;
    }

    .home--img {
        order: 0;
    }

    .section--image {
        order: 1
    }

    .navbar {
        left: auto;
        padding: 0;
        width: auto;
    }

    .navbar-toggler {
        display: none;
    }

    .collapse {
        display: flex;
    }

    .navbar-nav {
        flex-direction: row;
        justify-content: space-around;
    }

    .menu--item {
        border: none;
    }

    .offer {
        background: no-repeat center url('../img/bed.jpg');
        background-size: cover;
        opacity: 0.9;
    }

    .offer--tiles {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        margin: 20px;
        text-align: center;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
        max-width: 1100px;
    }

    .offer--tile {
        background-color: transparent;
        margin: auto;
        padding: 10px;
        border-left: 3px solid;
        border-image: url('../img/border.png') 30 stretch;
    }

    .offer--tile:first-child {
        border: none;
    }

    .carousel-control-next {
        width: auto;
        margin: 0 2%;
    }

    .carousel-control-prev {
        width: auto;
        margin: 0 2%;
    }

    .contact--form__row {
        display: flex;
    }
}

@media screen and (min-width: 1024px) {
    h2 {
        font-size: 1.5em;
    }

    .menu--item {
        padding: 10px;
        font-size: 22px;
    }

    .offer--tiles {
        font-size: 18px;
    }

    .offer--tile {
        background-color: transparent;
        margin: auto;
        min-height: 500px;
    }

    .offer--img {
        height: 200px;
        width: 300px;
    }

    .section--title {
        width: 300px;
    }

    .carousel-control-next-icon {
        width: 40px;
        height: 40px;
    }

    .carousel-control-prev-icon {
        width: 40px;
        height: 40px;
    }

    .carousel-control-next {
        width: auto;
        margin: 0 1%;
    }

    .carousel-control-prev {
        width: auto;
        margin: 0 1%;
    }
}