@import url('https://fonts.googleapis.com/css?family=Cormorant:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant', serif;
    color: #6d6d6d;
    cursor: default;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

h2 {
    margin: 0;
    font-weight: 800;
    font-size: 1.2em;
    padding: 5px;
}

h4 {
    margin: 0
}

.container-fluid {
    padding: 0;
}

.home {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.home--img {
    display: flex;
    width: 100%;
    padding: 0;
    order: 1;
    background: url('../img/logo.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    flex: 0.9;
}

.home--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    position: relative;
    flex: 1;
}

.background--logo {
    height: 300px;
    width: 350px;
    background-image: url("../img/logo-revesed.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    opacity: 0.05;
    top: 30%;
    z-index: -1;
}

.name--header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0;
}

.menu--item {
    padding: 10px;
    transition: all 300ms;
}

.menu--item:first-child {
    text-decoration: underline;
}

.menu--item:hover {
    cursor: pointer;
    color: #000;
}

.btn {
    font-family: 'Cormorant', serif;
    font-weight: 800;
    background-color: #212121;
    color: #fff;
    padding: 10px 30px;
    min-height: 35px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    margin: 40px;
    transition: all 300ms;
}

.btn:hover {
    cursor: pointer;
    background-color: #323232;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.offer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-bottom: 5%;
    box-sizing: border-box;
}

.offer--tile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
}

.offer--img {
    height: 150px;
    width: 200px;
    margin: 5px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 40px;
    width: 90%;
    max-width: 1100px;
}

.line-left {
    transform: scale(-1, 1);
}

.section--title {
    height: 30px;
    width: 100px;
    border: 2px #6d6d6d solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto 10px;
    box-sizing: border-box;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}

.carousel-inner .carousel-item .d-block .w-100 {
    height: 70vh;
}

.carousel-control-next-icon {
    background-image: url('../img/arrow-dark.png');
    transform: rotate(90deg);
    width: 20px;
    height: 20px;
}

.carousel-control-prev-icon {
    background-image: url('../img/arrow-dark.png');
    transform: rotate(-90deg);
    width: 20px;
    height: 20px;
}

.carousel {
    margin: 3% 8%;
}

.carousel-control-next {
    width: auto;
    margin: 0 1%;
}

.carousel-control-prev {
    width: auto;
    margin: 0 1%;
}

.contact {
    height: calc(100vh - 50px);
    background: no-repeat center url('../img/contact.jpg');
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-white {
    background-color: transparent;
    border: 3px #fff solid;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: 800;
    padding: 5px;
    margin: 20px;
}

.btn-white:hover {
    color: white;
    background-color: #303437;
    border: transparent;
}

.btn-white a {
    text-decoration: none;
    color: #fff;
    font-family: 'Lato', serif;
    font-size: 16px;
}

.email {
    margin-bottom: 170px;
    font-size: 18px;
    font-family: 'Lato', serif;
}

.footer {
    height: 50px;
    background-color: #303437;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2%;
    box-sizing: border-box;
    font-size: 14px;
}

.arrow {
    cursor: pointer;
    transition: all 300ms;
}

.arrow:hover {
    transform: translateY(-5px);
}

@media screen and (min-width: 425px) {
    .offer--tile {
        max-width: 400px;
    }
}

@media screen and (min-width: 768px) {

    .home {
        flex-direction: row;
    }

    .home--img {
        order: 0;
    }

    .menu--item {
        font-size: 18px;
        padding: 20px;
    }

    .offer {
        background: no-repeat center url('../img/bed.jpg');
        background-size: cover;
        opacity: 0.9;
    }

    .offer--tiles {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.8);
        margin: 20px;
        text-align: center;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }

    .offer--tile {
        background-color: transparent;
        margin: auto;
        border-left: 2px rgba(109, 109, 109, 0.2) solid;
    }

    .offer--tile:first-child {
        border: none;
    }

    .carousel-control-next-icon {
        width: 30px;
        height: 30px;
    }

    .carousel-control-prev-icon {
        width: 30px;
        height: 30px;
    }

    .carousel-control-next {
        width: auto;
        margin: 0 2%;
    }

    .carousel-control-prev {
        width: auto;
        margin: 0 2%;
    }
}

@media screen and (min-width: 1024px) {
    h2 {
        font-size: 1.5em;
    }

    .offer--tiles {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.8);
        margin: 20px;
        max-width: 1100px;
        font-size: 18px;
    }

    .offer--tile {
        background-color: transparent;
        margin: auto;
        min-height: 500px;
    }

    .offer--img {
        height: 200px;
        width: 300px;
    }

    .section--title {
        height: 40px;
        width: 200px;
    }

    .carousel-control-next-icon {
        width: 40px;
        height: 40px;
    }

    .carousel-control-prev-icon {
        width: 40px;
        height: 40px;
    }

    .carousel-control-next {
        width: auto;
        margin: 0 1%;
    }

    .carousel-control-prev {
        width: auto;
        margin: 0 1%;
    }
}